<h1><%= @family.surname %> Posts!</h1>

<ul>
  <% @family.posts.order("created_at DESC").each do |post| %>
    <li>
      <h3><%= link_to post.title, post_path(post) %></h3>
      <div>
        <%= image_tag post.user.avatar.thumb %> <%= post.user.first_name %>
      </div>
      <% post.post_images.each do |img| %>
        <div>
          <%= image_tag img.url.thumb %>
        </div>
      <% end %>
      <div>
        <% post.comments.order('created_at DESC').limit(3).each do |comment| %>
          <%= comment.user.first_name %>:
          <%= comment.body %><br>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
