<h1>Manage Invites for <%= @family.surname %> Family</h1>

<%= simple_form_for [@family, @invitee] do |f| %>

  <%= f.input :name %>

  <%= f.input :email %>

  <%= f.submit "Invite" %>

<% end %>


<ul>
  <% @invitees.each do |invitee| %>
    <li>
      <%= invitee.email %>
      <%= invitee.family.surname %>
      <%= invitee.status %>
      <%= link_to "Remove", family_invitee_path(@family, invitee), method: "DELETE" %>
    </li>
  <% end %>
</ul>
