<h1>Manage Invites and Members for <%= @family.surname %> Family</h1>

<%= simple_form_for [@family, @invitee] do |f| %>

  <%= f.input :name %>

  <%= f.input :email %>

  <%= f.submit "Invite" %>

<% end %>

<h3>Invites</h3>
<ul>
  <% @invitees.each do |invitee| %>
    <% if invitee.status == "pending" %>
      <li>
        <%= invitee.email %>
        <%= invitee.status %>
        <%= link_to "Remove", family_invitee_path(@family, invitee), method: "DELETE" %>
      </li>
    <% end %>
  <% end %>
</ul>

<h3>Members</h3>
<ul>
  <% @family.family_members.each do |member| %>
      <li>
        <%= member.user.first_name %>
        <%= member.user.email %>
        <% if member.role != "admin" %>
          <%= link_to "Promote", family_member_path(member), method: "PATCH" %>
          <%= link_to "Remove", family_member_path(member), method: "DELETE" %>
        <% end %>
      </li>
  <% end %>
</ul>
