<div class="small-4 small-offset-4 columns">
  <h3>Manage Invites and Members for <%= @family.surname %> Family</h3>
  <div class="invite-form">
    <%= simple_form_for [@family, @invitee] do |f| %>

      <%= f.input :name %>

      <%= f.input :email %>

      <%= f.submit "Invite", class: "button small radius right" %>

    <% end %>
  </div>

  <div class="pad-bottom">
  </div>

  <div class="row">
    <h3>Invites</h3>
    <table>
      <tr>
        <th>Email</th>
        <th>Status</th>
        <th>Cancel Invite</th>
      </tr>
      <% @invitees.each do |invitee| %>
        <tr>
        <% if invitee.status == "pending" %>
          <td>
            <%= invitee.email %>
          </td>
          <td>
            <%= invitee.status %>
          </td>
          <td>
            <%= link_to "Remove", family_invitee_path(@family, invitee), method: :delete, data: {confirm: "Are you sure?" } %>
          </td>
        <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="row">
    <h3>Members</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      <% @family.family_members.each do |member| %>
        <tr>
          <td>
            <%= member.user.first_name %>
          </td>
          <td>
            <%= member.user.email %>
          </td>
          <td>
            <%= member.role %>
          </td>
          <td spancol="2">
            <% if member.role != "admin" %>
              <%= link_to "Promote", family_member_path(member), method: :patch, data: {confirm: "Are you sure?" } %> |
              <%= link_to "Remove", family_member_path(member), method: :delete, data: {confirm: "Are you sure?" } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
