<% if !current_user %>
  <p>Sign in or Sign up to get started!</p>
<% else %>

  <h1>Posts!</h1>

  <ul>
    <% @posts.each do |post| %>
      <li>
        <h3><%= link_to post.title, post_path(post) %></h3>
        <div>
          <%= image_tag post.user.avatar.thumb %> <%= post.user.first_name %>
        </div>
        <% post.post_images.each do |img| %>
          <div>
            <%= image_tag img.url.thumb %>
          </div>
        <% end %>
        <% if current_user.deletable_post?(post) %>
          <div>
            <%= link_to "Delete", post_path(post), method: :delete, data: {confirm: "Are you sure?" } %>
          </div>
        <% end %>
        <div>
          <% post.comments.order('created_at DESC').limit(3).each do |comment| %>
            <%= comment.user.first_name %>:
            <%= comment.body %><br>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
