<h1>Add a Post</h1>

<%= simple_form_for @post do |f| %>

  <%= f.input :family_ids, :as => :check_boxes, label: "Which families would you like to share this post with?" do %>
    <%= f.collection_check_boxes :family_ids, current_user.families.order(:surname), :id, :surname do |b|
      b.label { b.check_box + b.text }
    end %>
  <% end %>

  <%= f.input :title %>

  <%= f.input :body, label: 'Content' %>

  <%= f.simple_fields_for :post_images do |img_form| %>

    <%= img_form.input :url, as: :file, required: false, label: 'Picture' %>

    <%= img_form.input :title, label: 'Picture Title' %>

  <% end %>

  <%= f.simple_fields_for :post_videos do |vid_form| %>

    <%= vid_form.input :set_url, as: :text, required: false, label: 'Link to YouTube Video' %>

    <%= vid_form.input :title, label: 'Video Title' %>

  <% end %>

  <%= f.button :submit %>

<% end %>

