<h1>Add a Post</h1>

<%= simple_form_for @post do |f| %>

    <%= f.input :title %>

    <%= f.input :body, label: 'Content' %>

  <%= f.simple_fields_for :post_images do |img_form| %>

    <%= img_form.input :url, as: :file, required: false, label: 'Picture' %>

    <%= img_form.input :title, label: 'Picture Title' %>

  <% end %>

  <%= f.simple_fields_for :post_videos do |vid_form| %>

    <%= vid_form.input :set_url, as: :text, required: false, label: 'Link to YouTube Video' %>

    <%= vid_form.input :title, label: 'Video Title' %>

  <% end %>

  <%= f.button :submit %>

<% end %>

