<h1><%= @post.title %></h1>
By: <%= image_tag @post.user.avatar.thumb %> <%= @post.user.first_name %>

<div>
  <p><%= @post.body %></p>
</div>

<% @post.post_images.each do |img| %>
  <div>
    <%= img.title %>
    <%= image_tag img.url %>
  </div>
<% end %>

<% @post.post_videos.each do |vid| %>
  <div>
    <%= vid.title %>
    <iframe width="420" height="315" src="http://www.youtube.com/embed/<%= vid.url %>" frameborder="0"></iframe>
  </div>
<% end %>

<h4>Comment</h4>
<%= simple_form_for [@post, @comment] do |f| %>
    <%= f.input :body, label: nil %>
    <%= f.submit "Comment" %>
<% end %>

<% @post.comments.order('created_at DESC').each do |comment| %>
  <%= comment.user.first_name %>
  <p><%= comment.body %><p>
  <%= link_to "Edit", edit_comment_path(comment) %>
  <%= link_to "Delete", comment_path(comment), method: "DELETE" %>
<% end %>
